
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

    .card{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
        height: 300px;
        width: 500px;
        background-color: white;
        border-radius: 10px;
        padding: 20px 10px;

        .process{
            height: 25px;
            width: 100%;
            background-color: gray;
            border-radius: 50px;
            position:relative;
            
            .loading{
                height: 100%;
                width: 0%;
                background-color: rgb(0, 151, 0);
                border-radius: 50px;
            }
        }
        .info{
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            .btn{
                background-color: rgb(0, 151, 0);
                color: white;
                padding: 10px 15px;
                font-size: large;
                border: none;
                border-radius: 5px;
                font-weight: 600;
            }
            .btn:active{
                scale:0.95;
            }
        }
    }
    .card>h1{
        font-family: sans-serif;
    }
    .info>h1{
        font-family: sans-serif;
    }
}